 
 <form action="action_page.php" >
    <div class="container">
      <h1>Cadastro de Disciplinas</h1>
      <hr>
  
      <label ><b>Nome da Disciplina</b></label>
      <input type="text" placeholder="Digite o nome da disciplina" required>
   

      <label ><b>Código da Disciplina</b></label>
      <input type="text" placeholder="Digite o código da disciplina" required>

      <label ><b>Número de créditos</b></label>
      <input type="text" placeholder="Digite o código da disciplina" required>


      <label ><b>Carga Horária</b></label>
      <input type="text" placeholder="Digite o código da disciplina" required>


      <div id = "option">
      <lh1><b>Ofertado para:</b></h1>
      <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" checked required>
         PPC 1999 - Curso antigo
      </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input"  required>
          PPC 08/2017 - Curso Novo
        </label>
      </div> 
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input"  required>
          Ambos 
        </label>
      </div> 
    </div>


      <label id = "text" ><b>Algo em especial sobre a sua matrícula que a coordenação PRECISA saber?</b></label>
      <input for="exampleTextarea" type="text" placeholder="Digite algo" required>
  
      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancelar</button>
        <button type="submit" class="signupbtn">Registrar</button>
      </div>
    </div>
  </form>