<div class="page-header">

        <div class = "container"> 
                <input type="text" ng-model = "search" class="form-control badge-light" id="inputText" placeholder="Filtrar"></div>
        </div>

        
            <div class="container">
                <div ng-repeat="discipline in disciplinascadastradas | filter: search | orderBy: discipline.nome" class = "disciplina">
                    <div ng-class="[discipline.ppc]">
                        <ul>
    
                            <li>
                                <h3 class="nome-titulo">
                                    <b>Nome:</b>
                                    <span class="nome">{{discipline.nome | uppercase}}</span>
                                </h3>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <h4 class="codigo-titulo"><b>Código:</b>
                                    <span class="codigo"></span> #{{discipline.codigo}}</span>
                                </h4>
                            </li>
                            <li>
                                <h4 class="creditos-titulo"><b>Créditos:</b>
                                    <span class="creditos"></span>{{discipline.numCreditos}}</span>
                                </h4>
                            </li>
                            <li>
                                <h4 class="carga-horaria-titulo"><b>Carga Horária:</b>
                                    <span class="carga_horaria"> {{discipline.cargaHoraria}}</span>
                                </h4>
                            </li>
                            <li>
                                <h4 class="grade-titulo"><b>Grade:</b>
                                    <span class="grade"></span>{{discipline.ppc | uppercase}}</span>
                                </h4>
                            </li>
    
                        </ul>
                      
        
                            <button  type="button" class="btn btn-danger btn-sm" ng-click="removeDiscipline(discipline)">Remover</button>
                    
    
    
                    </div>
                </div>
    
    
            </div>