<div class="page-header">


    <div id="status-matricula">

        <div class="badge badge-primary status">
            Créditos Selecionados:
            <span class="badge badge-light"> {{numero_creditos}} </span>
        </div>

        <div class="badge badge-primary status">
            Status da Matrícula:
            <span ng-switch="isMatriculaValida">
                <span ng-switch-when="true" class="badge badge-success">Válida</span>
                <span ng-switch-when="false" class="badge badge-danger">Inválida</span>
            </span>

        </div>
    </div>

    <div class = "container">  <button ng-disabled="!isMatriculaValida" ng-ctype="button" class="btn btn-success btn-sm" ng-click="addDiscipline(discipline)">Submeter Pré-Matrícula</button>
        <input type="text" ng-model = "search" class="form-control badge-light" id="inputText" placeholder="Filtrar"></div>





        <div class="container">
            <div ng-repeat="discipline in Disciplines | filter: search | orderBy: discipline.nome">
                <div ng-class="[discipline.ppc]">
                    <ul>

                        <li>
                            <h1 class="nome-titulo">
                                Nome:
                                <span class="nome">{{discipline.nome | uppercase}}</span>
                            </h1>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <h3 class="codigo-titulo">Código:
                                <span class="codigo"></span> #{{discipline.codigo}}</span>
                            </h3>
                        </li>
                        <li>
                            <h3 class="creditos-titulo">Créditos:
                                <span class="creditos"></span>{{discipline.numCreditos}}</span>
                            </h3>
                        </li>
                        <li>
                            <h3 class="carga-horaria-titulo">Carga Horária:
                                <span class="carga_horaria"> {{discipline.cargaHoraria}}</span>
                            </h3>
                        </li>
                        <li>
                            <h3 class="grade-titulo">Grade:
                                <span class="grade"></span>{{discipline.ppc | uppercase}}</span>
                            </h3>
                        </li>

                    </ul>
                    <span ng-switch="isAdded(discipline)">
                        <button ng-switch-when="false" type="button" class="btn btn-success btn-sm" ng-click="addDiscipline(discipline)">Escolher</button>
                        <button ng-switch-when="true" type="button" class="btn btn-danger btn-sm" ng-click="removeDiscipline(discipline)">Remover</button>
                    </span>


                </div>
            </div>


        </div>





    </div>