<div class="page-header">


    <div  id="status-matricula">
       
        <div class="badge badge-primary status">
                Créditos Selecionados:
                <span class="badge badge-light"> {{numero_creditos}} </span>
         
        </div>

        <div class="badge badge-primary status">
         Status da Matrícula:
            <span ng-switch="isMatriculaValida">
                <span ng-switch-when="true" class="badge badge-success">Válida</span>
                <span ng-switch-when="false" class="badge badge-danger">Inválida</span>
            </span>
            
        </div>


    </div>

    <div class = "container"></div>





</div>