



  <div class="page-header">


    <div class="container">
        <h3>Cadastro</h3>
        <hr>
    </div>

    <div class="container">

        <form id = "my_data" name="myDataForm" ng-submit="sendSignUp()">

            <div class="form-group row">
                <label for="inputText" class="col-sm-2 col-form-label" >Matrícula:</label>
                <div class="col-sm-10">
                    <input name="matricula" type="text" class="form-control"  placeholder="Digite o número da matrícula" ng-model= "numeroMatricula" ng-minlength="9" ng-maxlength="9">
                    <p ng-show="myDataForm.matricula.$error.minlength" class="help-block"> Matrícula curta demais. 8 dígitos são desejados</p>
                    <p ng-show="myDataForm.matricula.$error.maxlength" class="help-block"> Matrícula longa demais. 8 dígitos são desejados</p>
                </div>
            </div>

            <div class="form-group row">
              <label for="form-control" class="col-sm-2 col-form-label">Curso:</label>
              <div class="col-sm-10">
              <select class="form-control" ng-model="escolhaCurso">
                      <option>PPC 1999 - Curso Antigo</option>
                      <option>PPC 08/2017 - Curso Novo</option>
                    </select></div>
          </div>

          <div class="form-group row">
            <label for="inputText" class="col-sm-2 col-form-label" >Algo em especial sobre a sua matrícula que a coordenação PRECISA saber?</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  placeholder="Digite algo" ng-model= "msgMatricula" >
            </div>
         </div>

                  <div class="clearfix">
                  <button type="button" class="cancelbtn">Cancelar</button>
                  <button type="submit"  class="signupbtn" ng-disabled="myDataForm.$invalid || !validaMatricula()">Registrar</button>
                  </div>
               </div>


            
        </form>

    </div>


</div>
