 
 <form novalidate >
    <div class="container">
      <h1>Cadastro</h1>
      <p>Você precisará preencher este cadastro apenas uma vez</p>
      <hr>
  
      <label ><b>Matrícula</b></label>
      <input type="text" placeholder="Digite sua matrícula" required>
   
    <div class="form-group">
  <label for="sel1"><b>Selecione seu curso:</b></label>
  <select class="form-control" id="sel1">
    <option> PPC 1999 - Curso antigo</option>
    <option>PPC 08/2017 - Curso Novo</option>
  </select>
    </div>


      <label id = "text"><b>Algo em especial sobre a sua matrícula que a coordenação PRECISA saber?</b></label>
      <input for="exampleTextarea" type="text" placeholder="Digite algo" required>
  
      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancelar</button>
        <button type="submit" class="signupbtn">Registrar</button>
      </div>
    </div>
  </form>