<div class="page-header">
        <h1>Cadastro</h1>

        <fieldset class="form-group">
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Matrícula </label>
                    <input  class="form-control">
                  </div>
              
                    <legend>Curso</legend>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="option1" checked>
                        PPC 1999 - Curso antigo
                      </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="option2">
                        PPC 08/2017 - Curso Novo
                      </label>
                    </div>
              
              
                  
                  <div class="form-group">
                    <label for="exampleTextarea">Algo em especial sobre a sua matrícula que a coordenação PRECISA saber?</label>
                    
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                  </div>
              
              
                  <button type="submit" class="btn btn-primary"> Enviar </button>
                </form>
              </fieldset>
              
 </div>