@charset "utf-8";
/* CSS Document */
/* Estilo do Index */

@import url('https://fonts.googleapis.com/css?family=Squada+One');

body {
    background-color: #F1F1F1;  
}

#head{
  background: #17a2b8!important;
}
#head img{
    padding-top : 15px;
}



.form-signin{
    padding-top: 30px;
    padding-bottom: 40px;
}


.g-signin2,
      .g-signin2 .abcRioButton {
        display: block;
        margin: 20px auto 0 auto;
        text-align: center;
      }

#menu{
    background:  #004A8F;
}
