@charset "utf-8";
/* CSS Document */
/* Estilo do Index */


body {
    background-color: #F1F1F1;  
}
#head{
  background: #17a2b8!important;
}
#head img{
    padding-top : 15px;
}


#login{
    margin-left: -5%;
    margin-right: auto;
    display: inline;
}

.btn{
    margin-left: -12%;
    margin-top: 25%;
    background: #17a2b8!important;
    color: #F1F1F1; 
    font-weight: 500;
}

