#login{
    margin-top: 20%;
    margin-left: -5%;
    margin-right: auto;
    
}

.btn{
    margin-left: -12%;
    margin-top: 25%;
    background: #17a2b8!important;
    color: #F1F1F1; 
    font-weight: 500;
}


.page-header {
	display : none;
	text-align : center;
	background-color: #17a2b8;
	width:650px;
	margin-left: 550px;
	margin-top: 50px;
	color: #ffffff;	
	text-shadow: 2px 3px 1px black;
	font-family: arial;
}