@import url('https://fonts.googleapis.com/css?family=Oswald');

#status-matricula{
    margin-top: 2%;
    font-size: 23px;
}

.discipline{
    margin: 4px 4px 4px 4px;
    background: #17a2b8!important;
    border-radius: 5px;
    border: 3px solid royalblue;
    list-style: none;
}

.discipline ul li{
    list-style: none;
}

.nome-titulo{
    color:white;
    margin-left:3%;
    margin-top:3%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}
.codigo-titulo{
    margin-left:3%;
    margin-top:3%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}
.creditos-titulo{
    margin-left:3%;
    margin-top:3%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}
.carga-horaria-titulo{
    margin-left:3%;
    margin-top:3%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}
.grade-titulo{
    margin-left:3%;
    margin-top:3%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}

btn-group-toggle{
  
   

}
.nome{

}

.btn-default.btn-on.active{background-color: #5BB75B;color: white;}
.btn-default.btn-off.active{background-color: #DA4F49;color: white;}

.btn-default.btn-on-1.active{background-color: #006FFC;color: white;}
.btn-default.btn-off-1.active{background-color: #DA4F49;color: white;}

.btn-default.btn-on-2.active{background-color: #00D590;color: white;}
.btn-default.btn-off-2.active{background-color: #A7A7A7;color: white;}

.btn-default.btn-on-3.active{color: #5BB75B;font-weight:bolder;}
.btn-default.btn-off-3.active{color: #DA4F49;font-weight:bolder;}

.btn-default.btn-on-4.active{background-color: #006FFC;color: #5BB75B;}
.btn-default.btn-off-4.active{background-color: #DA4F49;color: #DA4F49;}
