@import url('https://fonts.googleapis.com/css?family=Oswald');

#status-matricula{
    margin-top: 2%;
    font-size: 23px;
}

.discipline{
    margin: 4px 4px 4px 4px;
    background:lightgrey;
    border-radius: 5px;
    border: 3px solid grey;
    list-style: none;

}

.discipline ul li{
    list-style: none;
}

.nome-titulo{
    color:white;
    margin-left:3%;
    margin-top:3%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}
.codigo-titulo{
    margin-left:3%;
    margin-top:3%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}
.creditos-titulo{
    margin-left:3%;
    margin-top:3%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}
.carga-horaria-titulo{
    margin-left:3%;
    margin-top:3%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}
.grade-titulo{
    margin-left:3%;
    margin-top:3%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}

.nome{
    color:black;
}


.discipline button{
    width: 90%;
    height: 40px;
}